.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
  gap: 10px;
}

.checkout_ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout_title {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.checkout_titleEmpty {
  padding: 10px;
}

.checkout_Empty {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.checkout_Empty > img {
  object-fit: contain;
  width: 300px;
  height: 300px;
}

.checkout_EmptyInfo {
  margin-left: 24px;
}

/* Small Screens */
@media only screen and (max-device-width: 812px) {
  .checkout {
    flex-direction: column;
  }
  .checkout_Empty {
    width: 100% !important;
    flex-direction: column;
  }
}