footer {
  width: 100%;
  height: 100px;
  background-color: #131a22;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  color: white;
}

footer > a {
  color: white;
}
footer > a:hover {
  color: orange;
}

footer > h3 {
  text-transform: uppercase;
  opacity: 0.9;
}
