.payment {
  background-color: white;
}

.payment_container > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(234, 237, 237);
  border-bottom: 1px solid lightcyan;
}

.payment_container > h1 a {
  text-decoration: none;
}

.payment_section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}

.payment_title {
  flex: 0.2;
}

.payment_address,
.payment_items,
.payment_details {
  flex: 0.8;
}

/* .checkout_titleEmpty {
  padding: 10px;
} */

.checkout_Empty {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.checkout_Empty > img {
  object-fit: contain;
  width: 300px;
  height: 300px;
}

.checkout_EmptyInfo {
  margin-left: 24px;
}

.payment_details > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: black;
  font-family: "Poppins", sans-serif;
  padding: 0.2rem 1rem;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}
.payment_details > button:hover {
  transform: scale(1.05);
}

/* Small Screens */
@media only screen and (max-device-width: 812px) {
  .payment_section {
    flex-direction: column;
  }
  .payment_details > button {
    width: 100%;
  }
}
